body {
	background-image: url("../parts/10th/10th_bg.svg");
	background-size: 30%;
	background-repeat: repeat;
	background-position:center center; 
	background-attachment: fixed;
}

h1 {
	font-family: 'Zen Antique', serif;
	font-weight: 600;
	color: #006000;/*文字色*/
	padding: 0;/*文字周りの余白*/
	font-size: xx-large;
}

@media screen and (max-width:500px) {
	h1{
		font-size:x-large;
	}	
}

div.makimono3 h1 {
	margin:0;
	text-align: center;
}


h2 {
	color: #006000;/*文字色*/
	font-family: 'Zen Antique', serif;
	font-weight: 400;
	padding: 0.2em;/*文字周りの余白*/
	padding-top: 0px;
	padding-bottom: 0px;
	margin:0px;
	margin-top : 2rem;
}


h2:before {
	margin-right: 5px;
	content: "♫";
	position: relative;
	margin: 0 10px 0 0;
}

h2.top{
	margin-top: 0;
}

h3 {
	font-family: 'Zen Antique', serif;
	font-weight: 400;
	color: #006000;/*文字色*/
	padding: 0.5em;/*文字周りの余白*/
	padding-top: 10px;
	padding-bottom: 0px;
	margin:0px;
}

h4{
	color: #006000;
	font-style: bold;
	padding: 0.5em;/*文字周りの余白*/
	padding-top: 10px;
	padding-bottom: 0px;
	margin:0px;
}

div.topImg{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}

div.topImg img{
	width:400px;
	height: auto;
	margin:auto;
	margin-top:0;
	margin-bottom: 0.5rem;
}

div.topImg p{
	text-align: center;
	margin-left: 0;
}

div.topContents img{
	display: block;
	width:140px;
	height: auto;
	margin:auto;
	text-align: center;
	margin-top:0;
	margin-bottom: 0.5rem;
}


@media screen and (max-width:520px){ /*狭め対応*/
	div.topImg img{
		width:100%;
	}
}

div.topContents{
	width:50%;
	margin:auto;
	margin-top:0;
	margin-bottom: 3rem;
}


@media screen and (max-width:1080px){ /*狭め対応*/
	div.topContents{
		width:100%;
	}
}

p{
	font-family: "ten-mincho", serif;
	font-weight: 400;
	font-style: bold;
}

p.news{
	font-family:sans-serif;
	font-style: bold;
}

div.mainContents{
	margin-top: 30px;
	background-image: url(../parts/10th/paper.png);
	border-left: 3px double #004000;
	border-right: 3px double #004000;
	border-top: 3px double #004000;
	border-bottom: 3px double #004000;
}

div.concept{
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: serif;
	padding: 5px;
	background:rgb(255,255,255);
	border-left: 3px double #004000;
	border-right: 3px double #004000;
	border-top: 3px double #004000;
	border-bottom: 3px double #004000;
}

div.inline{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background:rgba(255,255,255,0.9);
	border-left: 3px double #004000;
	border-right: 3px double #004000;
	border-top: 3px double #004000;
	border-bottom: 3px double #004000;
}

button{
	margin-right:20px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius:10px;
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Zen Antique';
	background-color:#006000;
	color :#ddffdd;
}

button:hover{
	background-color:#ddffdd;
	color: #006000;
}

button.close{
	background-color:#a0a0a0;
	color :#000000;
}

button.close:hover{
	background-color:#a0a0a0;
	color :#000000;
}

table.spec{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #ddffdd;
	border: none;	
}

table.spec th{
	background-color: #004000;
	color: #ffffff;
	font-weight: bold;
	padding-left:8px;
	padding-right:8px;
	border-style: solid 1px #004000;
	margin: 0px;
}

table.spec td{
	padding-left:8px;
	padding-right:8px;
	border: solid 1px #004000;
	margin: 0px;

}

table.schedule{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #ddffdd;
	border: none;	
}

table.schedule th{
	background-color: #004000;
	color: #ffffff;
	font-weight: normal;
	padding-left:8px;
	padding-right:8px;
	border-style: solid 1px #004000;
	margin: 0px;
	width:30%;
}

table.schedule td{
	padding-left:8px;
	padding-right:8px;
	border: solid 1px #004000;
	margin: 0px;
	width:100%;
}

table.contents{
	margin-left: 1rem;
	margin-right: 0;
	margin-bottom: 1rem;
	border-collapse: collapse;
	border: #004000 solid 3px;
	height:fit-content
}

table.contents td{
	font-family: "ten-mincho", serif;
	font-weight: 400;
	font-style: bold;
	padding-left:10px;
	width:20em;
	margin: 0px;
	background: rgba(255,255,255,0.3);
	border: solid 2px #99d099;
}

table.contents th{
	text-align: center;
	font-family: "ten-mincho", serif;
	font-weight: 600;
	font-style: bold;
	margin: 0px;
	width:3em;
	background: rgba(255,255,255,0.3);
	border: solid 2px #99d099;
}

@media screen and (max-width:23.1em){
	table.contents td{
		width: calc(90% - 3em)
	}	
}

div.imgContents{
	width:160px;
	margin: 10px;
}

div.imgContents img{
	width:160px;
	height:160px;
	border-radius: 80px;
	border: #20d010 2px solid;
}

div.imgContents p{
	text-align: center;
	font-size: small;
	padding:0;
}

/* 狭め対応 */
@media screen and (max-width:990px){
	div.imgContents{
		width:140px;
		margin: 5px;
	}
	
	div.imgContents img{
		width:140px;
		height:140px;
		border-radius: 70px;
		border: #20d010 2px solid;
	}
}

@media screen and (max-width:850px){
	div.imgContents{
		width:120px;
		margin: 5px;
	}
	
	div.imgContents img{
		width:120px;
		height:120px;
		border-radius: 60px;
		border: #20d010 2px solid;
	}
}

@media screen and (max-width:650px){
	div.imgContents{
		width:100px;
		margin: 5px;
	}
	
	div.imgContents img{
		width:100px;
		height:100px;
		border-radius: 50px;
		border: #20d010 2px solid;
	}
	
}

/* メニューの色変更 */
header,div.header{
	background-color: #ddffdd;
	border-color: #ddffdd;
}

.drawer_open{
	background-color: #ddffdd;
	border-color: #004000;
}

li.header_menu,li.header_menu:hover + a::before,
div.header_news,div.newsicon,div.newses{
	background-color: #004000;
}

li.header_menu a,a.newsicon,a.news,p.news{
	color:#eeffee;
}

li.header_menu a:hover,li.header_menu:hover,
li.header_menu:hover + a::before,div.newsicon:hover,
a.newsicon:hover,a.newsicon:hover::before,a.news:hover{
	background-color: #20d010;
	color:#004000;
}

/* フッターの更新履歴の色変更 */
table.renew td{
	border-bottom-color: #a0d0c0;
}

div.renew{
	background-color: #daeeda;
	border-color: #00c000;
}



div.douga{
	background-color: #000000;
	border: 15px solid;
	border-color: #002000;
	width:fit-content;
}

@media screen and (max-width:1199px){
	div.douga{
		border: 5px solid;
		border-color: #002000;
		width: fit-content;
		height: fit-content;
	}
	
}

div.makimono{
	display: block;
	margin-top:4.5rem;
	width:100%;
	height:150px;
}

div.makimono1{
	position:absolute;
	width:96%;
	height:90px;
	background: linear-gradient(#000000,#101010,#222222,#222222,#101010,#000000);
	border-radius: 15px/25px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	margin-left:2%;
	margin-right:2%;
	margin-top: 30px;
	margin-bottom:0;
	z-index: 7;
	padding: 0;
}
div.makimono2{
	position:absolute;
	width:90%;
	height:150px;
	background: linear-gradient(#002000,#004000,#006000,#004000,#002000);
	border-radius: 15px/35px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	margin-left:5%;
	margin-right:5%;
	margin-top:0;
	margin-bottom:0;
	z-index: 8;
}
div.makimono3{
	position:absolute;
	display: table;
	width:80%;
	height:110px;
	text-align: center;
	background: linear-gradient(#999999,#dddddd,#ffffff,#ffffff,#dddddd,#999999);
	border-radius: 15px/35px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left:10%;
	margin-right:10%;
	margin-top: 20px;
	margin-bottom:0;
	z-index: 9;
}

h1.makimono{
	display: table-cell;
	vertical-align: middle;
	font-family: 'Zen Antique', serif;
	font-weight: 600;
	font-size: 40;
	color: #000000;
	z-index: 10;
}

div.makimonoShadow{
	position:absolute;
	margin-left: 10%;
	width:80%;
	height:30px;
	text-align: center;
	background: linear-gradient(#000000ee,#000000a0,#00000040,#00000000);
	z-index: 9;
}


div.mainContents{
	padding-top:50px;
	margin-top: 0px;
	border-top: 0px;
}



#mainContents {
	animation: move 2s;
}


@keyframes move{
	0%{
		display: block;
		clip: inset(100%,0,0,0);
		transform: translate(0, -100%);

	}
	5%{
		display: block;
		clip: inset(100%,0,0,0);
		transform: translate(0, -100%);

	}

	100%{
		display: block;
		transform: translate(0, 0);
	}

}


@media screen and (max-width:1200px){ /*PCの狭め対応*/
	div.mainContents{
		margin-left:7%;
		margin-right:7%;
	}

	div.makimonoShadow{
		position:absolute;
		margin-left: 7%;
		width:86%;
	}
	
}


h1.old {
	font-family: 'Zen Antique', serif;
	border-bottom: 8px double #008000;
	border-top: 8px solid #008000;
	border-left: 10px double #008000;
	border-right: 10px solid #008000;
	background-color: #ffffff;
	color: #008000;/*文字色*/
	padding: 0.2em;/*文字周りの余白*/
	font-size: xx-large;
	text-align: center;
}

@media screen and (max-width:1080px){
	h1.old {
		font-family: 'Zen Antique', serif;
		border-bottom: 6px double #008000;
		border-top: 6px solid #008000;
		border-left: 8px double #008000;
		border-right: 8px solid #008000;
		background-color: #ffffff;
		color: #006000;/*文字色*/
		padding: 0px;/*文字周りの余白*/
		text-align: center;
	}
}

p.musicItem,p.musicInfo{
	font-style: normal;
	font-size: small;
	margin: 0px;
	color:#004000;
}

p.musicItem{
	width:3em;
}

p.musicInfo{
	width: calc(100% - 3em - 10px);
}

