/* 標準設定 */
body{
	margin:0;
}

h1 {
	padding: 0.5em;/*文字周りの余白*/
	margin-top:1rem;
	margin-bottom:1rem;
	font-family: 'Kaisei Opti', serif;
}

div.h1_logo{
	margin-top:3rem;
	margin-bottom: 2rem;
	width:100%;
	display: flex;
	flex-wrap: wrap; 
	align-items:center;
}

div.h1_logo img{
	width:150px;
}

div.h1_logo h1{
	display: inline-block;
	width: calc(100% - 150px - 2rem);
	height:auto;
	margin-top:auto;
	margin-bottom: auto;
}

@media screen and (max-width:500px){
	div.h1_logo h1{
		margin-top: 0;
		padding-top: 0;
		width: calc(100% - 2rem);
	}	
}

h2 {
	padding: 0.5em;/*文字周りの余白*/
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	margin:0px;
	font-family: 'Kaisei Opti', serif;
}

h3 {
	padding: 0.5em;/*文字周りの余白*/
	padding-top: 10px;
	padding-bottom: 0px;
	margin:0px;
	margin-top: 1rem;
	font-family: 'Kaisei Opti', serif;
}

h2:before,h3:before {
	margin-right: 5px;
	font-family: "Material Icons";
	content: 'music_note';
	position: relative;
	top: 3px;
	margin: 0 2px 0 0;
}

h4 {
	padding: 0.5em;/*文字周りの余白*/
	padding-top: 10px;
	padding-bottom: 0px;
	margin:0px;
	font-family: 'Kaisei Opti', serif;
}

div.mainContents{
	margin-left: 10%;
	margin-right: 10%;
	background:rgba(255,255,255,0.9);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;

}

p{
	margin:0px;
	margin-left:15px;
	margin-right:15px;
}

li{
	padding-left:30px;
	padding-right:30px;
}

/*更新情報・Twitter用*/
h2.under,h2.under_mob{
	display: block;
	margin-top: 100px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
	font-size: 20px;
	background-color: rgba(255,255,255,0.9);
}
h2.under:before,h2.under_mob:before{
	content:none;
}

h2.under_mob{
	display:none;
}

@media screen and (min-width:801px){
	div.under{
		width:48%;
		margin:1%;
		float:left;
	}
}

@media screen and (max-width:1200px){ /*PCの狭め対応*/
	div.mainContents{
		margin-left:5%;
		margin-right:5%;
	}
}

@media screen and (max-width:800px){ /*モバイル対応*/
	div.mainContents{
		margin-left:0%;
		margin-right:0%;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	div.under{
		width:98%;
		margin:1%;
		float:none;
	}
	h2.under{
		display:none;
	}
	h2.under_mob{
		display:block;
	}
}

/* 更新情報表示用 */
table.renew td{
	padding-right: 1em;
	border-bottom: 1px solid #e0a0a0;
}

tr.renew_footer_only td{
	padding-top:10px;
	border-bottom:0px;
}

tr.renew_old{
	display: none;
}

div.renew{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right: 0px;
	background-color: #ffeaea;
	border-radius: 10px;
	border: 1px solid #d00000;
}

/* 汎用パーツ */

/* 並列表示用 */
div.flex{
	display: flex;
	flex-wrap: wrap;
}