/* 背景 */
/* 繰り返し(パターン素材)の背景を置く */
/* https://bg-patterns.com/ */
body {
	background-image: url("../parts/mojirelay/mojirelay_bg.jpg");
	background-position:center center; 
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	background-size: 200px;
	margin-top:50px;
}

/* 見出しの設定 */
h1,h2,h3{
	color: #ea5532;/*文字色*/
}

/* h2（見出し）、h3（小見出し）の手前のアイコンの設定*/
/* 標準は音符 */
/* Googleのマテリアルフォントから指定する。 */

h2:before,h3:before {
	content: 'edit';
	top: 3px;
}

table.spec{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #ddffdd;
	border: none;	
}

table.spec th{
	background-color: #004000;
	color: #ffffff;
	font-weight: bold;
	padding-left:8px;
	padding-right:8px;
	border-style: solid 1px #004000;
	margin: 0px;
}

table.spec td{
	padding-left:8px;
	padding-right:8px;
	border: solid 1px #004000;
	margin: 0px;

}


li {
	padding-right: 0em;
	padding-left: 1em;
}



div.concept{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: serif;
	padding: 5px;
	background:rgb(255,255,255);
	border-left: 3px double #004000;
	border-right: 3px double #004000;
	border-top: 3px double #004000;
	border-bottom: 3px double #004000;
}

.box1 li {
	text-indent: 0em;
	padding-left: 0em;
}

.box2 li {
	text-indent: 0em;
	padding-left: 0em;
}

button{
	margin-right:20px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius:10px;
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Zen Antique';
	background-color:#006000;
	color :#ddffdd;
}

button.close{
	background-color:#a0a0a0;
	color :#000000;
}

button.close:hover{
	background-color:#a0a0a0;
	color :#000000;
}

summary {
	display: block;
	list-style: none;
  }

summary::-webkit-details-marker { 
	display: none 
}